{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'partial/head.html' %}
</head>
<body>
    {% include 'partial/header.html' %}

    {% block base_content %}
    <section class="ourgroup">
        <div class="contentWrapper" id="section1"><a name="section1"></a>
            <h2>Группа компаний</h2>
            <p>InDev Group — это команда настоящих профессионалов IT-разработок, которым под силу выполнить задачи любой сложности. Наши сотрудники имеют огромный багаж знаний и отлично применяют их на практике. Мы знаем, как заставить технический прогресс работать на благо вашего бизнеса. Мы регулярно следим за развитием технологий и повышаем уровень своего мастерства. Любые IT-новинки вдохновляют нас на новые эксперименты.</p>
            <p>InDev Group постоянно расширяет свои возможности, оставаясь современной, динамичной и перспективной компанией.</p>
            <p>Главным принципом нашей работы является открытость – каждый клиент может следить за проектом на любой из стадий разработки. Мы предоставляем вам доступ к специальной системе, где виден весь ход выполнения задач, формируются отчеты о проделанной работе.  На каждом этапе вы можете проводить промежуточные тестирования.</p>
            <p>InDev Group — это молодая, амбициозная компания, совсем недавно появившаяся на рынке IT, но уже успевшая заслужить доверие многих клиентов. Прочные отношения с заказчиками, взаимовыгодное сотрудничество и быстрый рост прибыли — все это еще раз доказывает, почему нужно выбирать именно нас.</p>
            <div class="downarrow">
                <a href="#section2"><img src="{{STATIC_PREFIX}}images/design/downarrow.png" alt=""></a>
            </div>
        </div>
    </section>
    <section class="vectors">
        <div class="contentWrapper" id="section2">
            <h2><a name="section2"></a>Направления деятельности</h2>
            <ul class="vectorslist">
                <li class="vectorcol">
                    <img src="{{STATIC_PREFIX}}images/vector1.png" alt="vector1">
                    <h3>Складская автоматизация</h3>
                    <p>consectetur adipiscing elit. Sed viverra lobortis aliquam. Nunc at turpis quis augue interdum</p>
                </li>
                <li class="vectorcol">
                    <img src="{{STATIC_PREFIX}}images/vector2.png" alt="vector2">
                    <h3>Разработка ПО и автоматизация бизнес-процессов</h3>
                    <p>consectetur adipiscing elit. Sed viverra lobortis aliquam. Nunc at turpis quis augue interdum</p>
                </li>
                <li class="vectorcol">
                    <img src="{{STATIC_PREFIX}}images/vector3.png" alt="vector3">
                    <h3>Разработка сайтов</h3>
                    <p>consectetur adipiscing elit. Sed viverra lobortis aliquam. Nunc at turpis quis augue interdum</p>
                </li>
                <li class="vectorcol">
                    <img src="{{STATIC_PREFIX}}images/vector4.png" alt="vector4">
                    <h3>Системная интеграция</h3>
                    <p>consectetur adipiscing elit. Sed viverra lobortis aliquam. Nunc at turpis quis augue interdum</p>
                </li>
            </ul>
            <div class="vectorbottom">Рост эффективности Вашего бизнеса</div>
        </div>
    </section>
    <section class="clients">
        <div class="contentWrapper" id="section3">
            <h2><a name="section3"></a>Наши проекты</h2>
            <div class="owl-carousel owl-theme" id="partners">
                <div class="owl-item">
                    <div class="clientSlide" style="background:url({{STATIC_PREFIX}}images/client1bg.png) center center no-repeat;">
                        <div class="clientText">
                            <h3>RFID проект в Главном управлении Центробанка по Ленинградской области</h3>
                            <p>Внедрение RFID - системы для контроля доступа и мониторинга за перемещением транспорта на территории Главного управления Центробанка по Ленинградской области. RFID-cистема должна обспечивать в автоматическом режиме бесприпятственный контроль въезда/выезда автотранспорта на территории банка, не требуя от водителей совершать неудобные для них действия, такие как прикладывание RFID карточек на въезде или выезде. Система также должна обеспечивать мониторинг за перемещением транспорта, чтобы понимать сколько автомобилей находятся на территории, когда заехали/выехали и др.</p>
                            <a href="#" class="bigBtn">Узнать подробнее</a>
                        </div>
                        <div class="clientLogo">
                            <img src="{{STATIC_PREFIX}}images/client1.png" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="clientSlide" style="background:url({{STATIC_PREFIX}}images/client1bg.png) center center no-repeat;">
                        <div class="clientText">
                            <h3>2 RFID проект в Главном управлении Центробанка по Ленинградской области</h3>
                            <p>Внедрение RFID - системы для контроля доступа и мониторинга за перемещением транспорта на территории Главного управления Центробанка по Ленинградской области. RFID-cистема должна обспечивать в автоматическом режиме бесприпятственный контроль въезда/выезда автотранспорта на территории банка, не требуя от водителей совершать неудобные для них действия, такие как прикладывание RFID карточек на въезде или выезде. Система также должна обеспечивать мониторинг за перемещением транспорта, чтобы понимать сколько автомобилей находятся на территории, когда заехали/выехали и др.</p>
                            <a href="#" class="bigBtn">Узнать подробнее</a>
                        </div>
                        <div class="clientLogo">
                            <img src="{{STATIC_PREFIX}}images/client1.png" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="clientSlide" style="background:url({{STATIC_PREFIX}}images/client1bg.png) center center no-repeat;">
                        <div class="clientText">
                            <h3>3 RFID проект в Главном управлении Центробанка по Ленинградской области</h3>
                            <p>Внедрение RFID - системы для контроля доступа и мониторинга за перемещением транспорта на территории Главного управления Центробанка по Ленинградской области. RFID-cистема должна обспечивать в автоматическом режиме бесприпятственный контроль въезда/выезда автотранспорта на территории банка, не требуя от водителей совершать неудобные для них действия, такие как прикладывание RFID карточек на въезде или выезде. Система также должна обеспечивать мониторинг за перемещением транспорта, чтобы понимать сколько автомобилей находятся на территории, когда заехали/выехали и др.</p>
                            <a href="#" class="bigBtn">Узнать подробнее</a>
                        </div>
                        <div class="clientLogo">
                            <img src="{{STATIC_PREFIX}}images/client1.png" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="clientSlide" style="background:url({{STATIC_PREFIX}}images/client1bg.png) center center no-repeat;">
                        <div class="clientText">
                            <h3>4 RFID проект в Главном управлении Центробанка по Ленинградской области</h3>
                            <p>Внедрение RFID - системы для контроля доступа и мониторинга за перемещением транспорта на территории Главного управления Центробанка по Ленинградской области. RFID-cистема должна обспечивать в автоматическом режиме бесприпятственный контроль въезда/выезда автотранспорта на территории банка, не требуя от водителей совершать неудобные для них действия, такие как прикладывание RFID карточек на въезде или выезде. Система также должна обеспечивать мониторинг за перемещением транспорта, чтобы понимать сколько автомобилей находятся на территории, когда заехали/выехали и др.</p>
                            <a href="#" class="bigBtn">Узнать подробнее</a>
                        </div>
                        <div class="clientLogo">
                            <img src="{{STATIC_PREFIX}}images/client1.png" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="clientSlide" style="background:url({{STATIC_PREFIX}}images/client1bg.png) center center no-repeat;">
                        <div class="clientText">
                            <h3>5 RFID проект в Главном управлении Центробанка по Ленинградской области</h3>
                            <p>Внедрение RFID - системы для контроля доступа и мониторинга за перемещением транспорта на территории Главного управления Центробанка по Ленинградской области. RFID-cистема должна обспечивать в автоматическом режиме бесприпятственный контроль въезда/выезда автотранспорта на территории банка, не требуя от водителей совершать неудобные для них действия, такие как прикладывание RFID карточек на въезде или выезде. Система также должна обеспечивать мониторинг за перемещением транспорта, чтобы понимать сколько автомобилей находятся на территории, когда заехали/выехали и др.</p>
                            <a href="#" class="bigBtn">Узнать подробнее</a>
                        </div>
                        <div class="clientLogo">
                            <img src="{{STATIC_PREFIX}}images/client1.png" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="technologies">
        <div class="contentWrapper" id="section4">
            <h2><a name="section4"></a>Технологии</h2>
            <ul class="technologiList">
                <li><a href="/"><img src="{{STATIC_PREFIX}}images/tech1.png" alt=""/></a></li>
                <li><a href="/"><img src="{{STATIC_PREFIX}}images/tech2.png" alt=""/></a></li>
                <li><a href="/"><img src="{{STATIC_PREFIX}}images/tech3.png" alt=""/></a></li>
                <li><a href="/"><img src="{{STATIC_PREFIX}}images/tech4.png" alt=""/></a></li>
                <li><a href="/"><img src="{{STATIC_PREFIX}}images/tech5.png" alt=""/></a></li>
                <li><a href="/"><img src="{{STATIC_PREFIX}}images/tech6.png" alt=""/></a></li>
            </ul>
        </div>
    </section>
    <section class="contacts">
        <div class="contentWrapper" id="section5">
            <div class="contactText">
                <h2><a name="section5"></a>Контакты</h2>
                <p>Связаться с нами можно тысячью способами, например:<p>
                <p>по телефону<br><span class="bigger">+7 (812) 429-70-89</span></p>
                <p>по электронной почте<br><span class="bigger"><a href="mailto:idea@indev-group.ru">idea@indev-group.ru</a></span></p>
            </div>
        </div>
        <div id="mappart" class="mappart"></div>
    </section>
    {% endblock %}

    {% include 'partial/footer.html' %}
</body>
</html>
