/*Reset css section */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;	padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
a:active, a:focus, img{outline:none;}


/*Main template styles*/
html{height:100%;text-align:center;}
body{
	background:#282e3a;
	font-family: "PT Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-style:normal;
	color:#ffffff;
	font-size:110%;
	line-height:150%;
	padding-top: 120px;
	min-width:1100px;
	}

p,ul,ol{
	margin:0.7em 0;
	padding:0;
	text-align:left;
	}
ul,ol{
	padding:0 0 0 0px;
	}

h1,h2,h3,h4,h5,h6{
	margin:1em 0;
	text-align:left;
	font-weight:600;
	}

strong{
	font-weight:bold;
	}
em{
	font-style:italic;
	}

td{
	vertical-align:top;
	}

a{
	color:#ffffff;
	text-decoration:underline;
	cursor:pointer;
	}
a:hover{
	color:#ffffff;
	text-decoration:none;
	}
.header{
	overflow:visible;
	background:#30363d;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:2;
	padding: 18px 0;
	}
	.headerWrapper{
		width:960px;
		margin:0 auto;
		text-align:right;
		}
		.logo{
			display:block;
			width:160px;
			float:left;
			padding:2px 0;
			}
		.logo a{
			display: block;
			line-height: 1;
		}
		.topNav{
			display:inline-block;
			width:780px;
			}
			.topNavList{
				display:block;
				list-style:none;
				margin:0;
				padding:0;
				text-align: right;
				}
			.topNavItem{
				display:inline-block;
				margin:0 0 0 1.5em;
				line-height:80px;
				}
				.topNavItem a{
					color:#ffffff;
					text-transform:uppercase;
					text-decoration:none;
					}
.contentWrapper{
	width:960px;
	margin:0 auto;
	padding:2em 0 0.5em 0;
	text-align:center;
	position:relative;
	z-index:1;
	}
	.contentWrapper h2{
		display:block;
		margin:0;
		height:95px;
		font-size:2em;
		font-weight:bold;
		line-height:95px;
		text-align:center;
		}
.ourgroup{
	margin:0px auto 0 auto;
	background:#a1b6cb;
	}
	.downarrow{
		padding:16px 0;
		}
.vectors{
	background:url(../images/design/vectorsbg.jpg) center center #322f30;
	background-size:cover;
	overflow: hidden;
	}
	.vectorbottom{
		padding:120px 0 30px 0;
		text-align:center;
		background:url(../images/design/vectorlines.png) 80px top no-repeat;
		clear:both;
		font-size:170%;
		}
	.vectorslist{
		margin:1em auto;
		list-style:none;
		}
		.vectorcol{
			display:inline-block;
			width:215px;
			padding:0 9px;
			vertical-align: top;
			position: relative;
			text-align:center;
			font-size:90%;
			}
			.vectorcol h3{
				text-align:center;
				font-size:120%;
				line-height:1.4em;
				}
.clients{
	background:#f0f0f0;
	color:#373435;
	}
	.clients .contentWrapper{
		padding:0;
		}
	.bigBtn{
		display:inline-block;
		padding:16px 30px;
		color:#ffffff;
		font-size:150%;
		background:#66b32e;
		text-decoration:none;
		border-radius:10px;
		}
	.clients h2{
		position:absolute;
		top:35px;
		left:70px;
		right:70px;
		z-index:12;
		text-align:center;
		}
.technologies{
	background:#ffffff;
	color:#373435;
	}
	.technologiList{
		display:block;
		margin:20px auto 30px auto;
		min-height:220px;
		overflow:hidden;
		}
		.technologiList li{
			display:block;
			float:left;
			margin:0 12px;
			}
.contacts{
	background:#908d88;
	}
	.contacts .contentWrapper{
		padding:0;
		}
	.mappart{
		height:516px;
		}
	.contactText{
		color:#373435;
		font-size:95%;
		text-align:center;
		line-height:1.3em;
		position:absolute;
		top:90px;
		left:320px;
		height:260px;
		width:260px;
		padding:30px;
		border-radius:10px;
		background:rgba(250,250,250,0.8);
		}
		.contactText h2{
			line-height:75px;
			height:auto;
			}
		.contactText p{
			text-align:center;
			}
		.contactText a{
			color:#373435;
			}
		.bigger{
			font-size:120%;
			}
.clientSlide{
	padding:160px 70px 50px 70px;
	width:820px;
	height:323px;
	overflow:hidden;
	}
	.clientText{
		float:left;
		width:420px;
		font-size:16px;
		line-height:1.2em;
		text-align:left;
		}
	.clientLogo{
		float:left;
		width:400px;
		padding:20px 0;
		text-align:right;
		}
.prevSlide,
.nextSlide{
	top:48%;
	position:absolute;
	display:block;
	font-size:0;
	text-decoration:none;
	height:27px;
	width:16px;
	background:url(../images/design/arrows.png) 0 0 no-repeat;
	}
	.prevSlide{
		left:0;
		background:url(../images/design/arrows.png) 0 0 no-repeat;
		}
	.nextSlide{
		right:-20px;
		background:url(../images/design/arrows.png) -16px 0 no-repeat;
		}
.owl-theme .owl-controls{
	margin-top:-26px;
	}
.owl-pagination{
	position:absolute;
	bottom:7px;
	left:70px;
	right:70px;
	text-align:center;
	}
footer{
	background:url(../images/design/footerbg.png) center center repeat-y;
	font-size:90%;
	height:60px;
	overflow:hidden;
	}
	footer .contentWrapper{
		padding:0;
		}
.footercopyright{
	width:340px;
	float:left;
	padding:6px 10px;
	color:#373435;
	}
	.footercopyright p{
		text-align:right;
		}
.bottomNav{
	float:left;
	width:600px;
	padding:0;
	}
	.bottomNavList{
		margin:0;
		padding:16px 0;
		height:40px;
		list-style:none;
		}
		.bottomNavItem{
			display:block;
			float:left;
			margin:0 0 0 20px;
			}
.hidden{
	display:none;
	visibility:hidden;
	}
.clear{
	float:none;
	clear:both;
	overflow:hidden;
	padding:1px 0;
	}

.my-hint {
		display: inline-block;
		padding: 5px;
		height: 45px;
		position: relative;
		left: -10px;
		width: 195px;
		font-size: 11px;
		line-height: 17px;
		color: #373435
		text-align: center;
		vertical-align: middle;
		background-color: rgba(250, 250, 250, 0.8);
		border: 1px solid #CDB7B5;
		border-radius: 20px;
		font-family: Arial;
}
