<footer>
    <div class="contentWrapper">
        <div class="footercopyright">
            <p>Indev Group © 2014.</p>
        </div>
        <div class="bottomNav">
            <ul class="bottomNavList">
                <li class="bottomNavItem"><a href="#section1">Компания</a></li>
                <li class="bottomNavItem"><a href="#section2">Направления</a></li>
                <li class="bottomNavItem"><a href="#section3">Копилка</a></li>
                <li class="bottomNavItem"><a href="#section4">Технологии</a></li>
                <li class="bottomNavItem"><a href="#section5">Контакты</a></li>
            </ul>
        </div>
    </div>
</footer>
