{% load static block_render_tags %}
{% get_static_prefix as STATIC_PREFIX %}

<meta charset="UTF-8">
{% block seo %}
<title>{% spaceless %}{% if detail_page %}
            {% render_locale_title request detail_page %}
        {%else%}
            Indev group
        {%endif%}
{% endspaceless %}</title>
{% if  detail_page.get_seo %}
<meta name="description" content="{% render_locale_field request detail_page 'description' %}" />
<meta name="keywords" content="{% render_locale_field request detail_page 'keywords' %}" />
{% else %}
<meta name="description" content=""/>
<meta name="keywords" content=""/>
{% endif %}
<meta name="created" content="{% now "d M Y h:i" %}" />
{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="{{STATIC_PREFIX}}images/favicon.png" rel="icon" type="image/png"/>
<link href="{{STATIC_PREFIX}}css/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_PREFIX}}css/owl.theme.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_PREFIX}}css/style.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="{{STATIC_PREFIX}}js/jquery.min.js"></script>
<script type="text/javascript" src="{{STATIC_PREFIX}}js/owl.carousel.min.js"></script>
<script type="text/javascript" src="{{STATIC_PREFIX}}js/TweenMax.js"></script>
<script type="text/javascript" src="{{STATIC_PREFIX}}js/ScrollToPlugin.js"></script>
<script type="text/javascript" src="{{STATIC_PREFIX}}js/jquery.scrollmagic.js"></script>
<script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script type="text/javascript" src="{{STATIC_PREFIX}}js/main.js"></script>
<script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-48014674-1', 'auto');
  ga('send', 'pageview');
</script>
