<header class="header">
    <div class="headerWrapper">
        <div class="logo">
            <a href="/"><img src="{{STATIC_PREFIX}}images/design/logo-idg-bw.png" alt="Indev group"></a>
        </div>
        <div class="topNav">
            <ul class="topNavList">
                <li class="topNavItem"><a href="#section1">Компания</a></li>
                <li class="topNavItem"><a href="#section2">Направления</a></li>
                <li class="topNavItem"><a href="#section3">Копилка</a></li>
                <li class="topNavItem"><a href="#section4">Технологии</a></li>
                <li class="topNavItem"><a href="#section5">Контакты</a></li>
            </ul>
        </div>
    </div>
</header>
